@model IEnumerable<TruongCongHuy_64130895.Models.Product>
<section class="product_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Sales <span>Cửa hàng</span></h2>
                </div>
            </div>
        </div>
        <div class="row ">
            @for (int i = 0; i < Math.Min(Model.Count(), 8); i += 4) // Tối đa 8 sản phẩm, 4 sản phẩm mỗi dòng
            {
                <div class="row align-items-center justify-content-between">
                    @for (int j = i; j < i + 4 && j < Model.Count(); j++)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <div class="single_product_item">
                                <a asp-action="Details" asp-controller="SanPham" asp-route-id="@Model.ElementAt(j).Id">
                                    <img src="/Admin-template/Images/SanPham/@Model.ElementAt(j).ImageUrl" alt="" style="height:30vh; width:100%">
                                </a>
                                <div class="single_product_text">
                                    <h4>@Model.ElementAt(j).Name</h4>
                                    <p><del>@(Model.ElementAt(j).Price.ToString("#,##0 VND"))</del></p>
                                    <h3 class="text-info">@Model.ElementAt(j).PriceSales.GetValueOrDefault().ToString("#,##0 VND")</h3>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>
