@using TruongCongHuy_64130895.ViewModels
@model ForgotPasswordVM
@{
    ViewData["Title"] = "Quên Mật Khẩu";
    Layout = "_LayoutCustomer";
}

<!-- breadcrumb start -->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Quên Mật Khẩu</h2>
                        <p>Trang Chủ <span>-</span> Quên Mật Khẩu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!--================forgot_password_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Bạn nhớ lại mật khẩu?</h2>
                        <p>
                            Nếu bạn nhớ mật khẩu, hãy đăng nhập lại ngay bây giờ.
                        </p>
                        <a asp-action="Login" class="btn_3">Đăng Nhập</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>
                            Vui lòng nhập email để lấy lại mật khẩu.
                        </h3>
                        <div class="my-3">
                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success">@TempData["Success"]</div>
                            }
                        </div>
                        <form asp-action="ForgotPassword" method="post" class="contact_form" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12 form-group p_star">
                                <label asp-for="Email" class="control-label">Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Nhập email của bạn" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="Gửi yêu cầu" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================forgot_password_part end =================-->
