@using TruongCongHuy_64130895.ViewModels
@model RegisterVM
@{
    ViewData["Title"] = "Đăng Ký";
    Layout = "_LayoutCustomer";
}
<!-- breadcrumb start -->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Đăng Ký</h2>
                        <p>Trang Chủ <span>-</span> Đăng Ký</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!--================register_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Đã có tài khoản?</h2>
                        <p>
                            Nếu bạn đã có tài khoản, hãy đăng nhập ngay để trải nghiệm
                            các tính năng mua sắm tuyệt vời của chúng tôi.
                        </p>
                        <a asp-action="Login" class="btn_3">Đăng Nhập</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>
                            Đăng ký tài khoản mới <br>
                            Hãy điền thông tin dưới đây.
                        </h3>
                        <div class="container py-2">
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger">@TempData["Error"]</div>
                            }
                        </div>
                        <form asp-action="Register" method="post" class="row contact_form" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12 form-group p_star">
                                <label asp-for="FullName" class="control-label">Họ và tên</label>
                                <input asp-for="FullName" class="form-control" placeholder="Nhập họ và tên" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label asp-for="UserName" class="control-label">Tên đăng nhập</label>
                                <input asp-for="UserName" class="form-control" placeholder="Nhập tên đăng nhập" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label asp-for="Email" class="control-label">Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Nhập email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label asp-for="Password" class="control-label">Mật khẩu</label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="Nhập mật khẩu" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label asp-for="ConfirmdPassword" class="control-label">Xác nhận mật khẩu</label>
                                <input asp-for="ConfirmdPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu" />
                                <span asp-validation-for="ConfirmdPassword" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label asp-for="Address" class="control-label">Địa chỉ</label>
                                <textarea asp-for="Address" class="form-control" placeholder="Nhập địa chỉ"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="Đăng Ký" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================register_part end =================-->
