@using TruongCongHuy_64130895.ViewModels
@model ResetPasswordVM
@{
    ViewData["Title"] = "Đặt Lại Mật Khẩu";
    Layout = "_LayoutCustomer";
}
<!-- breadcrumb start -->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Đặt Lại Mật Khẩu</h2>
                        <p>Trang Chủ <span>-</span> Đặt Lại Mật Khẩu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!--================reset_password_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>
                            Đặt lại mật khẩu của bạn<br>
                            Vui lòng nhập thông tin dưới đây.
                        </h3>
                        <form asp-action="ResetPassword" method="post" class="contact_form" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UserId" />
                            <input type="hidden" asp-for="Token" />

                            <div class="col-md-12 form-group p_star">
                                <label asp-for="NewPassword" class="control-label">Mật khẩu mới</label>
                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Nhập mật khẩu mới" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label asp-for="ConfirmdPassword" class="control-label">Xác nhận mật khẩu</label>
                                <input asp-for="ConfirmdPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu mới" />
                                <span asp-validation-for="ConfirmdPassword" class="text-danger"></span>
                            </div>
                            <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="Đặt Lại Mật Khẩu" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================reset_password_part end =================-->
