@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "Chỉnh Sửa Vai Trò";
}

<h2>Chỉnh Sửa Vai Trò</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" /> 

    <div class="form-group">
        <label asp-for="Name" for="roleName">Tên Vai Trò</label>
        <input asp-for="Name" class="form-control" id="roleName" required />
    </div>

    <button type="submit" class="btn btn-primary my-2">Lưu</button>
</form>

<a asp-action="Index" class="btn btn-primary my-2">Quay lại danh sách</a>
